#qr-scanner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  cursor: crosshair;
}

#qr-scanner-selection {
  position: absolute;
  border: 2px dashed #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
